/* inputs de texto y numero */
.form_conteiner {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    /* background-color: red; */
}

.form_input_conteiner {
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; */
    height: 24px;
    width: 100%;
    /* aling */
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    /* border */
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    border-color: #181426;
    border-style: solid;
    border-width: 1px;
}

.form_input_text {
    border: 0px solid transparent;
    outline: none;
    font-size: 12px;
    width: calc(100% - 15px);
    margin-left: 5px;
    /* font-size: 14px */
}

.form_input_validator {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: red;
    font-size: 12px;
}

.form_conteiner_max {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.form_input_ComboBox_conteiner {
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; */
    width: 100%;
    height: 24px;
    /* aling */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border */
    border-width: 1px;
    border-style: solid;
    border-color: #181426;
    border-radius: 15px;
}

.form_input_ComboBox {
    width: calc(100% - 10px);
    margin-left: 5px;
    height: 24px;
    color: grey;
    border: 0px solid transparent;
    outline: none;
    background-color: transparent;
    font-size: 12px;
}

.form_submit_botton_container {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_submit_botton_invert {
    font-size: 12px;
    height: 24px;
    width: 100%;
    /* 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px; */
    background-color: white;
    color: #9C5EF2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #9C5EF2;
}

.form_submit_botton_invert:hover {
    font-size: 12px;
    height: 24px;
    width: 100%;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px; */
    background-color: #9C5EF2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #9C5EF2;
}

.form_submit_botton {
    font-size: 12px;
    height: 24px;
    width: 100%;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px; */
    background-color: #9C5EF2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.form_submit_botton:hover {
    font-size: 12px;
    height: 24px;
    width: 100%;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px; */
    background-color: white;
    color: #9C5EF2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #9C5EF2;
}